#apply-form .form-header {
    padding: 20px;
    color: #FFF;
    font-size: 32px;
    text-align: center;
    background-color: #4c6876;
    border-top: solid 1px #425c73;
}
#apply-form .form-body {
	background: #f0f4f4;
	padding: 20px;
	color: #565656;
	position: relative;
	border: 1px solid #959595;
}


.form-header-home {
    padding: 0 20px;
    font-size: 32px;
    color: white;
    text-align: left;
}

.form-body-home {
    padding: 20px;
    text-align: left;
}