.btn-red {
    padding: 10px 30px;
    color: #FFF;
    background: #334a74;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.btn-red:hover {
    color: #bfbfbf;
    text-decoration: none;
	}