#category-items {
	padding-top: 50px;
	padding-bottom: 80px;
}
#category-items h1 {
	text-align: center;
	font-family: Muli, Helvetica, Arial, sans-serif;
}
#category-items hr {
	margin-bottom: 40px;
}
.category-item {
	padding:20px;
	border:solid 2px #e0e0e0;
	box-shadow: 2px 2px 5px rgba(0,0,0,.1);
	text-align: center;
	margin-bottom: 40px;
	font-family: Muli, Helvetica, Arial, sans-serif;
	margin-left:20px;
	margin-right: 20px;
}
.category-item h4 {
	font-size: 22px;
}
.category-item a:hover,
.category-item a:active {
	text-decoration: none;
}
.category-item p {
	line-height: 16px;
	color:#868686;
}
.category-item img {
	width: 40%;
}

.category-item .read-more {
	text-transform: uppercase;
	font-size: 18px;
	border-bottom: solid 1px #e65d6d;
}
.category-item .read-more:hover {
	text-decoration: none;
	color: #e65d6d;
	font-weight: 600;
}
.category-box-titles {
font-size: 22px;
margin-top: 10px;
margin-bottom: 10px;
font-weight: 500;
line-height: 1.1;
color: #337ab7!important;
}
.city-item {
	padding: 0 0 20px 0;
}
.city-item img {
	width: 100%;
}
.city-item .read-more-btn {
	color: #FFF;
}

@media (max-width: 1024px) {
	.category-item {
		margin-left: 0;
		margin-right: 0;
		padding: 14px;
	}
	.category-item h4 {
		font-size: 18px;
	}
	.city-item {
		padding: 0 0 20px 0;
	}
}













