#comments-container {
	text-align: left;
}
#comments-container ol {
	list-style: none;
	padding-left: 0;
}
.comment-body {
	margin-bottom: 30px;
    background: #FAFAF6;
    border: solid 4px #e0e0e0;
    padding: 10px;
}
#commentform {
	width: 100%;
	margin-bottom: 40px;
	/*padding-left: 10px;*/
}
#respond h3 {
	margin-left: -15px;
}
#commentform textarea {
	width: 100%;
}
#commentform #submit {
	color:#FFF;
	background: #e2334c;
	border:none;
	padding: 6px 12px;
}
.commentlist ul {
	list-style: none;
}

@media (max-width: 1024px) {
	#commentform {
		padding-left: 0;
		margin-left: -10px;
		padding-bottom: 20px;
	}
}

@media (max-width: 768px) {
	#commentform {
		margin-left: 0;
	}
	#commentform textarea {
		height: 90px;
	}
}