.home-item {
padding-bottom: 20px;
    font-family: Muli, Helvetica, Arial, sans-serif;
    font-style: italic;
    margin-top: 20px;
    min-height: 280px;
}
.home-item img {
	width: 100%;
}
.home-item .item-body {
	padding: 10px;
}
.home-item .item-body p {
	text-align: left;
	font-size: 16px;
	color: white;
	font-style: normal;
}
.home-item h3,
.read-more {
	color: #e65d6d;
}

.home-item .read-more {
text-decoration: none;
    position: absolute;
    bottom: 24px;
    right: 30px;
    font-size: 18px;
    font-style: normal;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
}
}

.offer-item {
	background-color: transparent;
    color: #fff;
    padding: 20px;
    min-height: 450px;
}
.offer-item h3 {
	position: relative;
	margin-bottom: 20px;
}
.offer-item h3:after {
	content:"";
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 70px;
	height: 6px;
	background: red;
}
.offer-item .read-more-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
}


@media (max-width: 1024px) {
	.home-item .read-more {
		font-size: 16px;
		bottom: 20px
	}
	.offer-item {
		min-height: 460px;
	}
	.offer-item p {
		font-size: 13px;
	}
	.call-to-action p {
		font-size: 36px;
	}
}
@media (max-width: 991px) {
.offer-item {
		min-height: initial;
	}
}
@media (max-width: 768px) {
	.home-item {
		text-align: center;
		margin-top: 40px;
		height: auto;
	}
	.home-item .item-body {
		padding: 10px 16px;
	}
	.home-item h3 {
		font-size: 32px;
	}
	.home-item p,
	.home-item .read-more {
		font-size: 20px;
	}
	.home-item .read-more {
		position: static;
	}
	.offer-item {
		margin-bottom: 30px;
		min-height: auto;
	}
}

@media (max-width: 667px) {

	.home-item {
		min-height: inherit;
	}
	.home-item h3 {
		font-size: 22px;
	}
	.home-item p,
	.home-item .read-more {
		font-size: 14px;
	}
	.offer-item {
		min-height: initial;
		padding-bottom: 20px;
	}
}














