@media (min-width: 667px) {

#transparentmenu .navbar-nav>li>a {
     color: #fff;
}
#transparentmenu .navbar-nav>li>a:hover {
     color: #bfbfbf;
}
    .navbar-header {
        float: left;
    }
    .navbar-left {
        float: left !important;
    }
    .navbar-right {
		float: right;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: none;
    }
    .navbar-fixed-top {
		top: 0;
	}
    .navbar-collapse.collapse {
        display: block!important;
        border:none;
    }
	.navbar-default .navbar-collapse {
		margin-top: 0;
	}
    .navbar-nav {
        float: block!important;
	}
	.navbar-nav>li {
        float: left;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}
.navbar-fixed-top {
    background: #FFF;
    border-width: 0;
}
.phone-number {
    text-align: right;
    padding-top: 10px;
    margin-bottom: -5px;
    color: #FFF;
    font-size: 22px;
}
.phone-number a {
    color: #111;
    font-family: Muli, Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 300;
}
.phone-number .phone-icon {
    width: 40px;
}
.home-header .navbar {
    margin-bottom: 40px;
}


.navbar-default .navbar-nav>li>a {
    color: #333;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #666;
}
.nav li {
    margin-left: 30px;
    padding: 50px 0;
}
.nav>li.current-menu-item {
    border-top: solid 4px #2a96d3;
    padding-top: 46px;
}
.nav li a {
    color: #333;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 0;
}
.nav li a:hover {
    background:none;
}
.nav>li:last-of-type {
    padding: 25px 0;
}
.nav li:last-of-type.current-menu-item {
    border-top: none;
    padding-top: 15px;
}
.nav>li:last-of-type a {
   background: #fa424c;
    border-radius: 2px;
    padding: 15px 19px;
    color: #FFF;
    font-weight: 300;
    margin-top: 8px;
}
.navbar-default .navbar-nav>li:last-of-type>a:hover {
    background: #334a74;
    color: #FFF;
}
.sub-menu {
    display: none;
    z-index: 2;
    list-style: none;
    padding-left: 0px;
    padding-top: 51px;
    background: transparent;
    position: absolute;
    width: 290px;
}
.sub-menu li {
    padding: 10px;
    background: #FFF;
    margin-left: 0;
    margin-top: 0;
}
.sub-menu li:first-of-type {
    border-top: solid 1px #999;
}
.sub-menu li a {
    color: #333;
}
.menu-item-has-children:hover .sub-menu {
    display: block;
    margin-top: 0;
 }
@media (max-width: 1024px) {
    .menu-item-has-children:hover .sub-menu {
        display: none;
    }
    .phone-number {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .home-header .navbar {
        margin-bottom: 0;
    }
    .navbar-brand>img {
        width: 150px;
    }
    .navbar li {
        margin-left: 10px;
        padding: 35px 0;
    }
    .nav>li:last-of-type {
        padding: 20px 0;
    }
    .nav>li:last-of-type a {
        padding: 15px;
    }
    .nav>li.current-menu-item {
        padding-top: 30px;
    }
}


@media (max-width: 667px) {
/*    .navbar-fixed-top {
        padding-bottom: 80px;
    }*/
    #transparentmenu .navbar-nav>li>a {
     color: #333;
}



    .navbar-fixed-top .navbar-collapse {
        max-height: none;
    }
    .container>.navbar-header {
        position: fixed;
        -webkit-backface-visibility: hidden;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        z-index: 11;
    }
    .phone-number {
        text-align: center;
        margin-top: 70px;
        margin-bottom: 0;
    }
    .navbar-brand {
        width: 50%;
        margin-left: 25%;
        margin-bottom: 30px;
        margin-top: -25px;
    }
    .navbar-brand>img {
        margin: auto;
    }
    .navbar-toggle {
        position: fixed;
        -webkit-backface-visibility: hidden;
        top: 0;
        right: 0;
        z-index: 11;
        border-radius: 0;
        margin-right: 0;
        margin-top: 0;
        width: 66px;
        height: 60px;
        background: #FFF;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background: #2a96d3;
    }
    .navbar-toggle.collapsed {
        left:0;
        /*margin-left: 15px;*/
        margin-right: 0;
    }
    .default-header .navbar-toggle.collapsed {
        margin-left: 0;
    }
    .navbar-toggle .icon-bar {
        width: 42px;
        height: 3px;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background: #FFF;
    }
    .navbar-toggle .icon-bar+.icon-bar {
        margin-top: 8px;
    }
    .navbar-nav {
        margin-left: -25px;
        margin-bottom: 0;
        margin-top: 100px;
    }
    .home-header .navbar-nav>li>img {
        display: block;
        margin: auto;
    }
    .navbar-nav li {
        border-top: solid 1px #999;
        margin-top: 0;
        overflow: hidden;
        padding: 20px 0;
    }
    .navbar-nav>li:last-of-type {
        background: #2a96d3;
        text-align: center;
        border:none;
    }
    .nav>li.current-menu-item {
        border-top: solid 1px #999;
        padding-top: 20px;
    }
    .navbar-nav>li>a {
        float: left;
        padding-left: 20px;
        width: 100%;
        text-align: left;
    }
    .navbar-nav>li:last-of-type a {
        font-size: 24px;
        text-align: center;
    }
    .navbar-nav>li>span {
        position: absolute;
        top: 10px;
        padding: 10px;
        right: 15px;
        font-size: 22px;
        color: #2a96d3;
    }
    .home-header .navbar-nav>li>a {
        padding-left: 30px;
    }
    .home-header .navbar-nav>li>span {
        right: 30px;
    }
    .sub-menu {
        position: static;
        width: auto;
        background: transparent;
    }
    .sub-menu li {
        clear: both;
        background: #EAEAEA;
        margin-left: 0;
        text-align: center;
    }
    .sub-menu li a {
        color: #666;
    }

    .container>.navbar-collapse {
        border:none;
        position: fixed;
        -webkit-backface-visibility: hidden;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        background: #FFF;
        border-bottom: solid 2px #91b2c3;
        z-index: 10;
        overflow: auto;
        height: 100%;
    }
    .phone-number {
        text-align: center;
        margin-top: 90px;
        margin-bottom: 10px;
    }
}

















