.triangle {
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	border-style: solid;

}
.triangle-left {
	left: 0;
	border-width: 100px 0 0 200px;
	border-color: transparent transparent transparent #577cc0;
}
.triangle-right {
	right: 0;
	border-width: 0 0 100px 200px;
	border-color: transparent transparent #577cc0 transparent;
}

