#primary-sidebar>div {
	border:solid 2px #e0e0e0;
	margin-bottom: 20px;
	padding: 10px;
}
#primary-sidebar #searchform label {
	display: none;
}
#primary-sidebar #searchform input[type=text] {
	padding: 4px;
	width: 70%;
}
#primary-sidebar #searchsubmit {
	color:#FFF;
	background: #e2334c;
	border:none;
	padding: 6px;
	min-width: 56px;
	width: 30%;
	margin-left: -5px;
}
#primary-sidebar h2 {
	margin-top: 0;
}
#primary-sidebar .post_tags {
	overflow: hidden;
}
#rpwwt-recent-posts-widget-with-thumbnails-2 ul {
	padding: 0 5px;
}
#rpwwt-recent-posts-widget-with-thumbnails-2 li {
	text-align: center;
}
#rpwwt-recent-posts-widget-with-thumbnails-2 img {
	margin-bottom: 4px;
}
#primary-sidebar a.tag-list-item {
	padding: 4px 6px;
	background: #fafafa;
	border: solid 1px #e0e0e0;
	margin-right: 4px;
	margin-bottom: 4px;
	float: left;
	border-radius: 4px;
	color: #111;
}
#primary-sidebar a.tag-list-item:hover {
	color: #e65d6d;
}
#primary-sidebar .wpp-list {
	padding-left: 0;
	list-style: none;
}
#primary-sidebar .wpp-list li {
	margin-bottom: 30px;
	text-align: center;
}
#primary-sidebar .wpp-thumbnail {
	margin-bottom: 5px;
}