.blog-header {
	background: url('../../img/blog-header.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	color: #FFF;
	padding: 4em;
	margin-bottom: 40px;
}
body.single-post .blog-header h1 {
	font-size: 24px;
}
.blog-header a {
	color: #FFF;
}
.blog-header .breadcrumb {
    background: transparent;
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    color: #cdcdcd;
    padding: 0;
}
.pagination {
	width: 250px;
	margin: auto;
	margin-bottom: 30px;
}
.blog-title {
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
}
.nav-previous,
.nav-next {
    padding: 10px;
    background-color: #dadada;
    border: solid 1px #bababa;
}
.nav-previous a,
.nav-next a {
	color: #333;
}
.nav-previous:before {
	content: "<< ";
}
.nav-next:after {
	content: " >>";
}
#post-list {
	text-align: center;
}
#post-list h2,
#post-list p,
#post-list .metadata {
	text-align: left;
}
#post-list .metadata {
	font-weight: 600;
}
.post {
	padding-bottom: 0;
	border-bottom: solid 3px #999;
	margin-bottom: 30px;
}
body.single-post h1,
body.single-post h3 {
	text-align: left;
}
body.single-post h3 {
	padding-left: 15px;
}
.post h2 a {
	color: #111;
}
.page-content h2,
.post-content h2 {
	font-size: 20px;
	text-transform: uppercase;
}
.post-content li {
	text-align: left;
}
.post a:hover {
	color:#e65d6d;
	text-decoration: underline;
}
.post-views {
	text-align: left;
}
.dashicons {
	width: 0;
}
.post-views-icon:before {
	display: none;
}
.addtoany_share_save_container {
	margin: 0;
	border-bottom: solid 3px #999;
	padding-bottom: 16px;
	line-height: 32px;
	text-align: left;
}
body.page .addtoany_share_save_container {
	border-top: solid 3px #999;
	border-bottom: none;
	padding-top: 16px;
}
.addtoany_header {
	font-style: italic;
	font-weight: 600;
}
.post-tags {
	overflow: hidden;
	padding-left: 0;
	margin-bottom: 16px;
}
.post-tags li {
	float: left;
	list-style: none;
	padding: 4px 6px;
    background: #FAFAF6;
    border: solid 1px #e0e0e0;
    margin-right: 4px;
}
.post-tags li:first-of-type {
	background: none;
	border:none;
	padding-left: 0;
}
.relatedthumb {
	margin-bottom: 30px;
}
.relatedthumb img {
	width: 100%;
	height: auto;
	margin-bottom: 6px;
}
.relatedthumb a {
	color: #111;
}
.relatedthumb a:hover {
	color:#e65d6d;
}

@media (max-width: 768px) {
    .blog-header {
        padding: 10px 0;
        margin-top: 100px;
    }
	.attachment-post-thumbnail {
		width: 100%;
		height: auto;
	}
	.post h1 {
		font-size: 26px;
	}
}

@media (max-width: 667px) {
	.blog-header {
		padding: 10px 0;
		margin-top: 40px;
	}
	.pagination {
		padding-bottom: 30px;
	}
	#comments-container input {
		width: 100%;
	}
}










