.city-item {
	position: relative;
	margin-bottom: 40px;
}
.city-item img {
	width: 100%;
}
.city-item span {
	background: #4c6876;
	opacity: .9;
	bottom: 50px;
	padding: 10px;
	width: 50%;
	text-align: center;
	color: #FFF;
	font-family: Muli, Helvetica, Arial, sans-serif;
	font-size: 20px;
	position: absolute;
	right: 0;
}

@media (max-width: 667px) {
	.city-item span {
		padding: 6px;
		bottom: 20px;
	}
}