#home-banner {
	background: url('../../img/home/Homepage_Banner_BG.jpg') no-repeat;
	background-size: cover;
	min-height: 800px;
	position: relative;
	background-position: center;
}
.testimonial-section{padding: 40px 40px;}
#home-banner .section-title,
#home-banner .section-caption {
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
}
#home-banner .section-title {
    margin-top: 10px;
    color: #fff;
    font-size: 48px;
    line-height: 60px;
    font-weight:300;
    margin-bottom:60px;
}
#home-banner .section-caption {
	color: #FFF;
    font-size: 18px;
    line-height: 22px;
    padding: 20px 0 40px 0;
    margin-top:270px;
}
.section-title,
.section-caption {
	text-align: center;
	font-family: Muli, Helvetica, Arial, sans-serif;
}
.section-title {
	margin-top: 40px;
}
.section-caption {
	font-size: 20px;
	line-height: 30px;
}
.home-titles-blue {
color: #4e4e4e;
font-size: 42px!important;
font-family: Montserrat, Helvetica, Arial, sans-serif;
margin-bottom: 0;
text-align: center;
margin-top: 20px;
font-weight: 500;
line-height: 1.1;
font-style: normal!important;
margin-bottom: 20px;
}

.home-titles-white {
text-align: center;
margin-top: 20px;
margin-bottom: 10px;
font-family: inherit;
font-weight: 500;
line-height: 1.1;
color: #fff;
font-size: 42px!important;
}
.home-bls-title-boxes{
    color: #fff;
    font-size: 24px!important;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: inherit!important;
    font-weight: 500;
    line-height: 1.1;
}
.home-wwo-title-boxes {
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 24px;
    font-family: inherit;
    font-weight: 500;
    color: #fff;
    line-height: 1.1;
}
.business-loans,
.what-we-offer {
	padding: 40px 0 60px 0;
}
.business-loans h2,
.business-loans p {
	text-align: center;
}
.business-loans h2 {
	color: #3e67b1;
    font-size: 49px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    margin-bottom: 0;
}
.business-loans img {
	display: block;
	margin: auto;
http://studio.envato.com/explore/websites-programming?utm_campaign=internal+navigation&utm_content=footernav&utm_medium=codecanyon&utm_source=marketplaces}
.business-loans p {
    font-size: 16px;
    font-family: Muli, Helvetica, Arial, sans-serif;
}
.what-we-offer {
	background: url('/wp-content/uploads/2017/08/Easy-Enquiry-BG-2.jpg') no-repeat;
	border-top: solid 2px #999;
	background-position: bottom;
	background-size: cover;
	color: #FFF;
}
.what-we-offer h2 {
	text-align: center;
	font-size: 46px;
	text-transform: uppercase;
}
.what-we-offer img {
	display: block;
	margin: auto;
	margin-bottom: 40px;
}
.call-to-action {
	padding: 60px 0 60px 0;
    color: #FFF;
    background: url(../../img/home/Contact_Background.jpg) no-repeat;
    background-size: cover;
}
.call-to-action h3 {
	font-size: 42px;
	text-align: center;
	margin-bottom: 30px;
}


.page-content {
	margin: 40px 0 40px 0;
	overflow: hidden;
}
body.page-id-9 .page-content {
	padding-bottom: 60px;
}
.page-content img {
	max-width: 100%;
	height: auto;
}
.page-content .rates {
	font-family: Muli, Helvetica, Arial, sans-serif;
	clear: both;
	padding-bottom: 20px;
	margin: auto;
	overflow: hidden;
}
.page-content .rates h2 {
	text-align: center;
}
.page-content .rate {
	margin-top: 32px;
	margin-bottom: 20px;
}
.page-content .rate-inner {
	background: #262626;
	color: #FFF;
	padding: 10px;
}
.page-content .rate .rate-header {
	text-align: center;
    background-color: #91b2c3;
    color: white;
    padding: 6px;
    margin-top: -32px;
}
.page-content .rate h3 {
	margin-top: 0;
}
.page-content .rate h3,
.page-content .rate p {
	text-align: center;
}
.page-content .rate p {
	font-size: 14px;
	line-height: 24px;
}
.page-content .rates .apply-now {
	text-align: center;
	overflow: hidden;
}
.page-content .rates .apply-now a {
    color: #FFF;
    background: #e2334c;
    border: none;
    padding: 20px;
    margin-top: 20px;
    font-size: 24px;
    cursor: pointer;
    line-height: 58px;
}
.page-content .rates .apply-now a:hover {
	text-decoration: none;
	font-weight: 600;
}

.sitemap {
	padding: 40px 0;
}

.form-caption {
    margin-top: 270px;
    max-width: 500px;
}

@media (max-width: 991px) {
	.form-caption {
    margin-top: 30px;
    max-width: 500px;
}
}

@media (min-width: 1600px) {
	#good-people {
		background-position: 0 -300px;
	}
}

@media (max-width: 1024px) {
	#home-banner .section-title {font-size:40px;}
	#home-banner {
		background-position-x: -150px;
	}
	.home-wwo-title-boxes {
        font-size: 21px!important;
        }
}

@media (max-width: 768px) {

	.nav li a {    font-size: 16px !important;}
	.form-header-home {
    padding: 0 !important;}
	.form-body-home {
    padding: 0 0 30px 0 !important;
}
	#home-banner .section-title {margin-bottom: 30px;}
	#home-banner-buttom {
		display:none;
	}
	.form-caption {max-width: 100%;
}
#home-banner .section-caption {
	margin-top: 170px;
	padding: 20px 0 20px 0;
}

	#home-banner {
		background-position-x: -330px;
	}
	.page-content {
		margin-top: 0;
	}
	.loan-comparison .outer-container {
		padding-right: 0;
	}
	body.page-id-16419 .form-container {
		height: 620px;
	}
	.call-to-action {
		padding: 80px 0;
	}
}

@media (max-width: 667px) {
	.testimonial-section {
    padding: 20px;
}
	.section-paragraph {
		padding-left: 0 !important;
    padding-right: 0 !important;
	}
	.container {
		padding:0;
	}
	.form-body-home {
		padding: 0 !important;
	}
	.form-caption {
		margin-top: 0px;
	}
	.form-header-home {
		display: none;
	}
	#home-banner-buttom {
		display:none;
	}

	#home-banner {
		background-position-x: -710px;
	}
	#home-banner .section-caption {
		margin-top:150px;
	}

	#home-banner .section-title,
	#home-banner .section-caption {
		width: 100%;
		text-align: center;
		line-height: 1em;
	}
	#home-banner .section-title {
		font-size: 26px;
	}
	#home-banner .section-caption,
	.business-loans h2,
	.what-we-offer h2 {
		font-size: 22px;
		padding: 20px 0 0px 0;
	}
	.business-loans .container,
	.business-loans .home-item-container,
	.what-we-offer .container,
	.what-we-offer .offer-item-container {
		padding: 0;
	}
	.business-loans img,
	.what-we-offer img {
		max-width: 100%;
	}
	.business-loans p {
		font-size: 18px;
	}
	.call-to-action {
		padding: 40px 0 80px 0;
	}
	.call-to-action p,
	.call-to-action a {
		font-size: 24px;
	}
	.page-content {
		margin-top: 30px;
	}
	.loan-comparison .outer-container {
		padding-right: 0;
	}
	.interest-rates-header,
	.interest-rates-body li {
		min-height: 60px;
	}
	.interest-rates-header.featured {
		padding-bottom: 30px;
	}
	body.page-id-2959>.container {
		margin: 0;
		padding: 0;
		width: 100%;
	}
}






















