.category-header {
	background: url('../../img/category-header.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	color: #FFF;
	font-size: 36px;
	padding: 30px 0;
	font-family: Muli, Helvetica, Arial, sans-serif;
	text-shadow: 2px 2px 3px rgba(0,0,0,.7);
}

@media (max-width: 768px) {
	.default-header,
	.blog-header .container,
	.category-header {
		padding: 10px 0;
		text-align: center;
	}
	.category-header {
		margin-top: 153px;
		margin-bottom: 40px;
	}
}

@media (max-width: 667px) {

	.default-header {
		padding: 0;
	}
	.default-header .container {
		margin-top: 0;
	}
	.category-header,
	.blog-header {
		margin-top: 150px;
	}
}