#main-footer {
	background: #111;
	color:#FFF;
	font-family: Muli, Helvetica, Arial, sans-serif;
}
#main-footer .container {
	padding-bottom: 20px;
}

#main-footer .footer-title {
	color:#72a4fd;
	margin-left: -3px;
        display: none;
}
.footer-headings {
color: #72a4fd;
margin-left: -3px;
font-size: 24px;
margin-top: 20px;
margin-bottom: 10px;
font-weight: 500;
}
#main-footer ul {
	list-style: none;
	padding: 0;
}
#main-footer a {
	color: #fff;
}
#main-footer .latest-news li {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: solid 1px #FFF;
}
.footer-widget h3 {
	display: none;
}
#copy {
	text-align: center;
	font-family: Muli, Helvetica, Arial, sans-serif;
	padding: 20px;
	font-size: 20px;
	background: #444;
}
#copy a {
	color: #FFF;
	text-decoration: none;
}
@media (max-width: 768px) {
	#main-footer {
		margin-top: -40px;
	}
	#main-footer .footer-title {
		padding-left: 0;
	}
	#copy {
		font-size: 14px;
	}
}