.interest-rates-box {
	text-align: center;
	margin: 40px 0;
}
.interest-rates-column {
	padding: 0;
}
.interest-rates-header {
	background: #bababa;
	color: #FFF;
	padding: 10px;
}
.interest-rates-header.featured {
	background-color: #2a96d3;
	padding-top: 30px;
	margin-top: -20px;
	border-radius: 10px 10px 0 0;
}
.interest-rates-column:first-of-type .interest-rates-header {
	border-top-left-radius: 10px
}
.interest-rates-column:last-of-type .interest-rates-header {
	border-top-right-radius: 10px
}

.interest-rates-body {
	border: 1px solid #bababa;
}
.interest-rates-box ul {
	list-style: none;
	padding-left: 0;
}
.interest-rates-box li {
	padding: 10px;
}
.interest-rates-footer a {
	color: #2a96d3;
	text-transform: uppercase;
	font-size: 18px;
}

@media (max-width: 768px) {
	.interest-rates-box {
		clear: both;
		padding-top: 60px;
		margin-bottom: 40px;
	}
	.interest-rates-footer {
		padding-bottom: 20px;
	}
}











