html,body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	font-family: Muli, Helvetica, Arial, sans-serif;
}
hr {
	background:#4c6876;
	width: 120px;
	height: 3px;
}
strong {
    font-family: 'Open sans', Helvetica, Arial, sans-serif;
}
  .default-header {
        padding-top: 170px;
    }

    .home-header {
        padding-top: 0px;
    }
body.admin-bar .navbar-fixed-top {
	top: 32px;
}
.read-more-btn {
	text-align: center;
    color: #FFF;
    background: #d42237;
    padding: 10px 25px;
    text-transform: uppercase;
    font-style: normal;
    border-radius: 18px;
    display: table;
    margin: auto;
}
@media (min-width: 1600px) {
	.container {
		width: 1460px;
	}
}
@media (max-width: 1024px) {
    .default-header {
        padding-top: 170px;
    }

    .home-header {
        padding-top: 0px;
    }
}
@media (max-width: 768px) {
	.container {
		width: 90%;
		margin: 0 5%;
	}

    body.admin-bar .home-header,
    body.admin-bar .default-header {
        padding-top: 0;
    }
    
    .default-header .container,
    .home-header .container {
        margin-top: 10px;
        margin-bottom: 0;
    }
}


@media (max-width: 667px) {
.container { text-align: left;
    }
}